@charset "UTF-8";

.about-owasp {
    display: flex;
    padding: 80px 60px;
    gap:60px;
}

.about-owasp .left {
    display: grid;
    gap: 20px;
    flex: 1;
    color:#3b4858
}

.about-owasp .left .head {
    font-size: 80px;
    color:#3b4858
}

.about-owasp .left .sub-heading {
    font-size: 20px;
    font-family: inter;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 400;
    color:#000
}

.about-owasp .left .sub-heading li {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    list-style-type:none
}

.about-owasp .right {
    flex: 1;
    background-image: url(/assets/images/speaker4.jpg);
    background-size:cover
}

.about-team {
    display: flex;
    margin: 30px;
    color:#3b4858;
}

.about-team .country {
    display: flex;
    flex: 1;
    margin: 0px;
    width: 500px;

}

.about-team .country .left {
    display: grid;
    flex: 1;
    width: 250px;
    padding: 00px 30px;
}

.about-team .country .left .flag {
    position: relative;
    width: 200px;
    height: 133px;
    vertical-align: top;
    text-align: left;
    // opacity: .1;
    // background-image: url(/assets/images/logo.svg);
    // background-size: 30px;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-attachment: fixed;
    border-radius: 25px;
}

.about-team .country .mid {
    flex: 2;
    display: grid;
    font-size: 50px;
    width: 250px;
    vertical-align: middle;
}

.about-team .right {
    display: grid;
    flex: 3;
    min-width: 250px;
    padding: 10px 40px;
}

.about-team .right ul {
    font-size: 25px;
    margin-left: 30px;
    list-style-type: square;
}

.about-team .right li {
    font-size: 25px;
    padding-bottom: 20px;
    list-style-type: square;
}

@media screen and (max-width: 700px) {
    .about-owasp {
        flex-direction: column;
        padding: 40px 20px;
        text-align:center
    }

    .about-owasp .right {
        display:none
    }

    .about-owasp .left .sub-heading {
        font-size:16px
    }

    .about-owasp .left li {
        font-size: 16px;
        margin-top: 20px;
        list-style-type:none
    }
}

@media screen and (max-width: 900px) {

    .about-team {
        flex-direction: column;
        padding: 40px 20px;
        text-align:center;
    }

    .about-team .country {
        flex-direction: column;
    }

    .about-team .country .left {
        display:flex;
        flex: 1;
        width: 30px;
        text-align: center;
        vertical-align: middle;
    }

    .about-team .country .left .flag {
        position: relative;
        height: 90px;
        border-radius: 10%;
    }

    .about-team .country .mid {
        display: flex;
        font-size: 50px;
        flex: 2;
        width: 75%;
        vertical-align: middle;

    }

    .about-team .right {
        display: flex;
        flex: 3;
        padding: 20px 10px;
    }
}