@charset "UTF-8";

.location {
    display: flex;
    flex-direction: row;
    padding: 80px 60px;
    gap:50px
}

.location .left {
    display: grid;
    gap: 20px;
    flex: 1;
    // flex: 50%;
    color:#3b4858
}

.location .left .head {
    font-size: 80px;
    color:#3b4858;
}

.location .left .pre-heading {
    font-size: 20px;
    font-family: inter;
    line-height: 28px;
    margin-bottom: 10px;
    font-weight: 400;
    color:#000
}

.location .left .sub-heading {
    font-size: 20px;
    font-family: inter;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 400;
    color:#000
}

.location .left .sub-heading li {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
    list-style-type:none
}

.location .right {
    flex: 1;
    // flex: 50%;
    background-image: url(/assets/images/lamot.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
    .location {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        text-align:center
    }

    .location .left {
        flex: 1;
    }

    .location .right {
        flex: 1;
        min-height: 200px;
        background-size: 90%;
    }

    .location .left .sub-heading {
        font-size:16px
    }

    .location .left li {
        font-size: 16px;
        margin-top: 20px;
        list-style-type:none
    }
}