<div class="vision">
    <div class="title-icon">
        <div class="title">Policy &amp; Guidelines</div>
        <div class="icon"></div>
    </div>
    <div class="content">
        <li>Harassment includes, but is not limited to, offensive verbal comments related to gender, race, religion,
            technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing
            photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and
            unwelcome sexual attention.</li>
        <li>Participants asked to stop any harassing behavior are expected to comply immediately.</li>
        <li>Sponsors are also subject to the anti-harassment policy.</li>
        <li>Sponsors should not use sexualized images, activities, or other material.</li>
        <li>Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create
            a sexualized environment.</li>
        <li>If a participant engages in harassing behavior, the conference organisers may take any action they deem
            appropriate, including warning the offender or expulsion from the conference with no refund.</li>
        <li>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please
            contact a member of conference staff immediately.</li>
        <li>Conference staff can be identified as they’ll be wearing branded t-shirts.</li>
        <li>Conference staff will be happy to help participants contact venue security or local law enforcement, provide
            escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference.
        </li>
        <li>We value your attendance.</li>
        <li>We expect participants to follow these rules at conference and workshop venues and conference-related social
            events.</li>
    </div>
    <div class="links">
        <a class="link-btn" href="https://owasp.org/www-policy/operational/conferences-events">Conferences Events <svg
                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
                </path>
            </svg></a>
        <a class="link-btn" href="https://owasp.org/www-policy/operational/code-of-conduct">Code Of
            Conduct <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
                width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
                </path>
            </svg></a>
        </div>
        <div class="links">
        <a class="link-btn" href="/about/diversity-statement">Diversity
            statement <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
                </path>
            </svg></a>
            <a class="link-btn" 
        href="https://owasp.org/www-policy/">Owasp WWW Policy <svg  stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em"
        width="1em" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
        </path>
    </svg></a>
        </div>
        
</div>