<div class="socialevent">
    <div class="left">
        <div class="pre-heading">Join us on Tuesday, 2nd of December at 18h, to :
        </div>
        <div class="head"><a href="https://www.hetanker.be" target="_blank">Het Anker Brewery & Brasserie in Mechelen</a></div>
        <div class="sub-heading">Join us for ‘Brews and Bytes’, hosted by <a href="https://semgrep.dev" target="_blank">Semgrep</a> at <a href="https://www.hetanker.be" target="_blank">Het Anker Brewery & Brasserie in Mechelen</a> !
            <br />The perfect chance to unwind after a full <a href="/program/conference">Benelux Days 2025 programme and AppSec talks</a>, and digest the day’s discussions over drinks and dinner together.
            <br />We'd love you to join us for an informal evening celebrating the best in Belgian beer and food (with plenty of non-alcoholic options available as well).
            <br /><p class="italic">Please note: spots are limited, and attendance is subject to availability.</p>
            <br />We hope to see you there!
            <br />The Anker Brewery is at a 20 minutes walking distance from the Lamot conference.
        </div>
        <!-- <a href="https://owasp-benelux-2025.eventbrite.com/" class="btn bg-lg" target="_blank">Register Now</a> -->
        
    </div>
    <div class="right">
        <a href="https://www.hetanker.be" target="_blank"><div class="socialeventlocation"></div></a>
        <div class="title">Social event sponsor :</div>
        <a href="https://semgrep.dev" target="_blank"><div class="socialeventsponsor"></div></a>
    </div>
</div>