<div class="donation">
    <div class="hero-mini" style="background-image: url(&quot;/assets/images/training3.jpg&quot;);">
        <div class="left">
            <div class="black-layer"></div>
            <div class="heading">DONATE</div>
        </div>
    </div>
    <div class="head-sub-button">
        <div class="head">Donate to the OWASP Foundation</div>
        <div class="sub-heading">The Open Worldwide Application Security Project (OWASP) is a nonprofit foundation that
            works to improve the security of software. Through community-led open source software projects and hundreds
            of local chapters worldwide, your gift* will support the Foundation and its many activities around the world
            to secure the web.</div>
        <div class="head-sub-links">
            <a class="btn bg-lg db" href="https://owasp.org/donate/" target="_new">Support OWASP by donating now!</a>
            <a  class="btn bg-lg bam db" href="https://owasp.org/membership" target="_new">
                BECOME A MEMBER 
                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                    viewBox="0 0 1024 1024" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
                    </path>
                </svg>
            </a>
            <a class="btn bg-lg db" href="https://owasp.org/www-policy/operational/donations" target="_new">More information about OWASP donations</a>
        </div>
    </div>
</div>