<!-- <div class="head-sub-button">
    <div class="head">SAVE THE DATE</div>
</div> -->
<div class="counter">
    <div class="count">
        <div class="sub-head">Conference Day</div>
        <div class="head">26/11/2026</div>
    </div>
    <div class="count">
        <div class="sub-head">Location</div>
        <div class="head">Amsterdam, The Netherlands</div>
    </div>
    <div class="count">
        <div class="sub-head">Training Day</div>
        <div class="head">27/11/2026</div>
    </div>
</div>
<div class="head-sub-button">
    <div class="sub-heading">This year, the OWASP BeNeLux days will take place on Thursday the 26th and Friday the 27th 
        of November  2026 in the Netherlands.</div>
    <!-- <div class="head-sub-links">
        <a href="/location" data-discover="true" class="btn bg-lg">Location
        </a>
        <a href="/program/conference" data-discover="true" class="btn bg-lg">Program
        </a>
    </div> -->
</div>
