<div class="about-owasp">
    <div class="left">
        <div class="head">OWASP BeNeLux DAYS</div>
        <div class="sub-heading">This year, the OWASP BeNeLux days will take place on Thursday the 26th and Friday the
            27th of December 2026 in the Netherlands. The Open Worldwide Application Security Project (OWASP) is an open-source,
            not-for-profit application security organization made up of corporations, educational organizations, and
            individuals from around the world. Providing free, vendor-neutral, practical, cost-effective application
            security guidance, the OWASP Foundation.</div>
            <!-- <a href="/location" data-discover="true" class="btn bg-lg">Location details</a>
            <a href="/program/conference" data-discover="true" class="btn bg-lg">Program</a> -->
    </div>
    <div class="right" style="background-image: url(&quot;/assets/images/room1.jpg&quot;);"></div>
</div>
