<div class="about-owasp">
    <div class="right"></div>
    <div class="left">
        <div class="head">Explore OWASP Projects &amp; Tools</div>
        <div class="sub-heading">Curious where OWASP's impact begins?<br>It's all in the projects — powerful, free, and
            built by the global security community.<br><br>
            <li>Browse hundreds of open-source security projects on the official OWASP GitHub</li>
            <li>Dive into flagship tools like ZAP, Dependency-Check, and CycloneDX</li>
            <li>Contribute to community-driven initiatives tackling the top 10 vulnerabilities</li>
            <li>Learn how to integrate OWASP tools into CI/CD pipelines for real-world security</li>
            <li>Join working groups and project meetings through OWASP.org for hands-on collaboration</li>
        </div><a href="https://owasp.org/projects/" target="_blank"><button class="btn bg-lg">Browse Projects</button></a>
    </div>
</div>