<div class="location">
    <div class="left">
        <div class="pre-heading">This year the Owasp BeNeLux 2026 event will take place in:
        </div>
        <div class="head">Lamot Congress and heritage center</div>
        <div class="sub-heading"><li>Van Beethovenstraat 8/10, 2800 Mechelen</li>
                                <li>Belgium</li>
            </div>
            <a href="https://www.lamot-mechelen.be" class="btn bg-lg" target="_blank">Lamot website</a>
    </div>
    <div class="right"></div>
</div>

