    <div class="price-table-container">
        <table class="price-table">
            <thead>
                <tr>
                    <th>Feature</th>
                    <th>Diamond</th>
                    <th>Platinum</th>
                    <th>Gold</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regular Price</td>
                    <td>€ 6,000</td>
                    <td>€ 4,500</td>
                    <td>€ 3,500</td>
                </tr>
                <tr>
                    <td>Early Bird Offer (by 1st September)</td>
                    <td>N/A</td>
                    <td>€ 4,050</td>
                    <td>€ 3,150</td>
                </tr>
                <tr>
                    <td>Company Logo on OWASP Chapter Homepages</td>
                    <td>✔ (Belgium &amp; Netherlands, 2027)</td>
                    <td>✔ (Belgium &amp; Netherlands, 2027)</td>
                    <td>✔ (Belgium / Netherlands, 2027)</td>
                </tr>
                <tr>
                    <td>Boot Size</td>
                    <td>5mx2m</td>
                    <td>3mx2m</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>Company Banner Near Track Entrance</td>
                    <td>✔ (1m x 2m)</td>
                    <td>✔ (1m x 2m)</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>Name on Chapter Invitations (Meetup and emails)</td>
                    <td>✔ (2027 Invitations)</td>
                    <td>—</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>Name on Logo on Social Media post</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <td>Company Banner on the stage</td>
                    <td>✔ (1m x 2m)</td>
                    <td>-</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>Logo in our Youtube videos of the conference talks</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>3-Year Commitment Discount (10%)</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>First-Pick Booth Placement</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>—</td>
                </tr>
            </tbody>
        </table>
    </div>
    
