    <div class="price-table-container">
        <table class="price-table">
            <thead>
                <tr>
                    <th>Feature</th>
                    <th>Platinum</th>
                    <th>Gold</th>
                    <th>Silver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Regular Price</td>
                    <td>€ 4,000</td>
                    <td>€ 3,000</td>
                    <td>€ 2,000</td>
                </tr>
                <tr>
                    <td>Early Bird Offer (by 1st July)</td>
                    <td>€ 3,600</td>
                    <td>€ 2,700</td>
                    <td>€ 1,800</td>
                </tr>
                <tr>
                    <td>Company Logo on OWASP Chapter Homepages</td>
                    <td>✔ (Belgium &amp; Netherlands, 2026)</td>
                    <td>✔ (Belgium &amp; Netherlands, 2026)</td>
                    <td>✔ (Belgium / Netherlands, 2026)</td>
                </tr>
                <tr>
                    <td>Logo on Conference Promotional Materials</td>
                    <td>✔ (Messages, Talks, Schedule)</td>
                    <td>✔ (Messages, Talks, Schedule)</td>
                    <td>✔ (Messages, Talks, Schedule)</td>
                </tr>
                <tr>
                    <td>Company Banner Near Track Entrance</td>
                    <td>✔ (1m x 2m)</td>
                    <td>✔ (1m x 2m)</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>Name on Chapter Invitations (Meetup and emails)</td>
                    <td>✔ (2026 Invitations)</td>
                    <td>—</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>Name on Posters &amp; Announcements</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>Speaking Slot (*)</td>
                    <td>✔ (10 minutes)</td>
                    <td>—</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>Name in Post-Event Newsletter</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>✔</td>
                </tr>
                <tr>
                    <td>Exclusive Add-On Opportunities</td>
                    <td>Social Event (€2,000) - mentioned in the agenda, and rollup during the social event**</td>
                    <td>Coffee Break (€1,000) mentioned in the agenda, and rollup during break</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>3-Year Commitment Discount (10%) (***)</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>—</td>
                </tr>
                <tr>
                    <td>First-Pick Booth Placement (****)</td>
                    <td>✔</td>
                    <td>✔</td>
                    <td>—</td>
                </tr>
            </tbody>
        </table>
        <div class="notes">
            <p>(*) The speaking slot will be clearly marked as a sponsor speaking slot at the start/end of normal talks.
            </p>
            <p>(**) Social sponsorship at the OWASP Benelux conference entails hosting the evening event near or in the
                conference venue, providing attendees with dinner and drinks. As a social sponsor, you’ll have the
                opportunity to engage with conference participants in a relaxed setting, fostering networking and
                camaraderie among industry professionals.</p>
            <p>(***) With an opt-out after the first year (without losing the 10% discount).</p>
            <p>(****) Order of choice is based on order of commitment and paid sponsorships.</p>
        </div>
    </div>
    
