{% include header.html %}
<body>
<div class="home">
    {% include nav.html %}
    {% include home_hero.html %}
    {% include home_save_the_date.html %}
    <!-- {% include home_announced_people.html %} -->
    <!-- {% include home_sponsors.html %} -->
    {% include home_counter.html %}
    {% include home_about_owasp.html %}
    {% include home_conference.html %}
    {% include home_previous_conferences.html %}
    {% include home_marquee.html %}
    {% include home_about_owasp_projects.html %}
    {% include home_pricing.html %}
    {% include home_faq.html %}
</div>

{% include footer.html %}

</body>
</html>
