{% include header.html %}
<body>
    <div class="home">
        {% include nav.html %}
        <div class="sponsors-page">
            <div class="hero-mini" style="background-image: url(&quot;/assets/images/speaker2.jpg&quot;);">
                <div class="left">
                    <div class="black-layer"></div>
                    <div class="heading">{{ page.title }}</div>
                </div>
            </div>
            {% include sponsor_faq.html %}
            {% include sponsor_contact.html %}
            {% include home_sponsors.html %}
            
        </div>
    </div>

    {% include footer.html %}

</body>
</html>
